body{background:orange;}


.no{
	height:300px; width:300px;
	border:2px solid red;
	width:300px;
	border-radius:100%;
	outline:5px dotted green;
	
	
	
	}











.no b{
	color:green;
	font-size:25px;
	
	
	
	
}