body{
   
}



.tu4 {
	   background:linear-gradient(#ff000075,#ffff004d),url(../image/tt4.jpeg);
	   height:600px;
	   
	
	
	
	
	
	
}

.tu4 h1 {
			color:white;
	
	
	
	
	
	
	
	
}