.t2{color:white;
			text-transform:capitalize;
		
		border-bottom:8px solid orange;
			border-top:8px solid red;
			border-right:8px solid green;
			border-left:8px solid blue;
			background:radial-gradient(red,green,blue);
			
}

.tt{
	border: 2px dotted orange;
	background:url(https://img.freepik.com/free-vector/abstract-website-banner-with-modern-shapes_1361-1738.jpg?size=626&ext=jpg);
	height:100px;
	width:200px;
	display;block;




}
