 body{background:url(../image/im.jpg);
      background-size:cover;
	 
	 
	 
	 }
 .syn{

	 color:white;
	 width:400spx;
	 height:200px;
	 background-repeat:no repeat;
	 background-size:cover;
	 
	 
	 
	 
	 
 }
 
 
 
  