.hsbs{background:orange;color:white;font-size:30px}
			#hh2{background:black;color:orange;font-size:25px}
				.hhgk{background:#3B2F2F;color:white;font-size:35px}
			 .kkj{background:#3B2F2F;color:white;font-size:35px}
	.blue{color:#4285F4; font-size:80px}
	.red{color:#DB4437;font-size:80px}
	.yellow{color:#F4B400;font-size:80px}
	.green{color:#0F9D58;font-size:80px}