.tt4 {

	 border: 2px solid ;
	 width: 950px;
	 background:yellow;
	 padding:90px 50px 90px 100px;
	 margin-top:50px;
	 margin-left:150px;
	 font-family:Algerian;
	 
	
	
	
	
	
	
	
	
	}